:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --primaryColor: #003b5c;
  --hoverPrimaryColor: #002c44;
  --secondaryColor: #00b5e2;
  --hoverSecondaryColor: #0091b2;
  --white: #fff;
  --textColorSecondary: #000;
  --textGray: #6c757d99;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.active {
  color: var(--primaryColor);
}
