:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --primaryColor: #003b5c;
  --hoverPrimaryColor: #002c44;
  --secondaryColor: #00b5e2;
  --hoverSecondaryColor: #0091b2;
  --white: #fff;
  --textColorSecondary: #000;
  --textGray: #6c757d99;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.active {
  color: var(--primaryColor);
}

input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}

ul {
  list-style: none;
}

table {
  margin: 1rem;
  border-collapse: collapse;
  width: 98%;
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
}

th {
  background-color: #dddddd;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #00b5e2 #ffffff;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #00b5e2;
  border-radius: 10px;
  border: 1px solid #ccc;
}
